body {
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;
}

header {
    padding: 0 25px;
}

span {
    font-size: 20px;
}

span.glyphicon {
    color: orangered;
    margin-right: 10px;
}

section {
    margin: 0 25px !important;
}

.section {
    background: #f3f3f3;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#main {
    height: 600px;
}

#catalogs {
    height: 335px;
}

#highscore {
    height: 250px;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}


.start-btn {
    position: relative;
    top: 35%;
    left: 43%;
}

.start-btn span {
    color: green;
}


#questDiv {

}

.answerDiv {

}
