body {
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;
}

header {
    padding: 0 25px;
}

span {
    font-size: 20px;
}

span.glyphicon {
    color: orangered;
    margin-right: 10px;
}

section {
    margin: 0 25px !important;
}

.section {
    background: #f3f3f3;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#main {
    height: 600px;
}

#catalogs {
    height: 335px;
}

#highscore {
    min-height: 250px;
    height: auto;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}


.start-btn {
    position: relative;
    top: 35%;
    left: 43%;
}

.start-btn span {
    color: green;
}


#questDiv {
	width: 80%;
	height: 80%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin-top: 5%;
	margin-left: 10%;
	padding: 0% 2%;
	background-color: #ffa500;
}

.answerDiv {
	width: 100%;
	height: 15%;
	margin-top: 10px;
	padding: 20px 5px;
	border: groove;
	border-color: black;
	background-color: white;
}
