body {
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;
}

header {
    padding: 0 25px;
}

span {
    font-size: 20px;
}

span.glyphicon {
    color: orangered;
    margin-right: 10px;
}

section {
    margin: 0 25px !important;
}

.section {
    background: #f3f3f3;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#main {
    height: 600px;
}

#catalogs {
    height: 335px;
}

#highscore {
    min-height: 250px;
    height: auto;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}

.start-btn {
    position: relative;
    top: 35%;
    left: 43%;
}

.start-btn span {
    color: green;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
}

/* center alerts */
.alert {
    position: absolute;
    width: 50%;
    margin: 0 0 0 -25%;
    top: 20%;
    left: 50%;
    z-index: 10000;
}

.alert p {
    font-size: large;
    font-weight: bold;
}