body {
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;
}

header {
    padding: 0 25px;
}

header span {
    font-size: 25px;
}

header span.glyphicon-tower {
    color: orangered;
    margin-right: 10px;
    padding-top: 5px;
}

section {
    margin: 0 25px !important;
}

.section {
    background: #eee;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#main {
    height: 600px;
}

#catalogs {
    height: 335px;
}

#highscore {
    height: 250px;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}
